        body {
            background-image: url("bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
        }

        table {
            border-collapse: separate;
            border-spacing: 0 12px; 
            width: 60%;
            
        }

        th {
            background: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 10px;
        }

        td {
            background: rgba(255, 255, 255, 0.75); 
            padding: 12px;
            text-align: center;
            border: 1px solid #333;
        }

        caption h2 {
            color: white;
        }